[build-system]
requires = ["setuptools>=61.0", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "disdrodb"
authors = [
	{name = "Gionata Ghiggi"},
]
description = "This package provides tools to homogenize, process, and analyze global disdrometer data."
readme = "README.md"
keywords = ["python", "disdrometer"]
classifiers = [
	"Development Status :: 1 - Planning",
	"Intended Audience :: Developers",
	"Programming Language :: Python :: 3",
	"Operating System :: Unix",
	"Operating System :: MacOS :: MacOS X",
	"Operating System :: Microsoft :: Windows",
]
requires-python = ">=3.8"
dependencies = [
	"click",
	"h5py",
	"netCDF4",
	"trollsift",
	"pyarrow",
	"PyYAML",
	"setuptools",
	"xarray",
	"dask[distributed]",
	"tqdm",
	"pooch",
	"requests"
]
dynamic = ["version"]

[project.optional-dependencies]
dev = [
	"sphinx",
	"sphinx_rtd_theme",
	"nbsphinx",
	"jupyter",
	"pre-commit",
	"pytest",
	"pydantic",
	"pytest-cov",
	"pytest-mock",
	"requests-mock"
]

[tool.setuptools_scm]
write_to = "disdrodb/_version.py"

[tool.setuptools]
packages = ["disdrodb"]

[project.scripts]
# L0A
run_disdrodb_l0a_station="disdrodb.l0.scripts.run_disdrodb_l0a_station:run_disdrodb_l0a_station"
run_disdrodb_l0a="disdrodb.l0.scripts.run_disdrodb_l0a:run_disdrodb_l0a"
# L0B
run_disdrodb_l0b_station="disdrodb.l0.scripts.run_disdrodb_l0b_station:run_disdrodb_l0b_station"
run_disdrodb_l0_station="disdrodb.l0.scripts.run_disdrodb_l0_station:run_disdrodb_l0_station"
# L0B concatenation
run_disdrodb_l0b_concat_station="disdrodb.l0.scripts.run_disdrodb_l0b_concat_station:run_disdrodb_l0b_concat_station"
run_disdrodb_l0b_concat="disdrodb.l0.scripts.run_disdrodb_l0b_concat:run_disdrodb_l0b_concat"
# L0
run_disdrodb_l0b="disdrodb.l0.scripts.run_disdrodb_l0b:run_disdrodb_l0b"
run_disdrodb_l0="disdrodb.l0.scripts.run_disdrodb_l0:run_disdrodb_l0"
# Data transfer
download_disdrodb_archive="disdrodb.data_transfer.scripts.download_disdrodb_archive:download_disdrodb_archive"
upload_disdrodb_archive="disdrodb.data_transfer.scripts.upload_disdrodb_archive:upload_disdrodb_archive"

[tool.ruff]
ignore = ["E722"]
line-length = 120

[tool.black]
line-length = 120
preview = true
